<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qy.sp.manage.dao.impl.SdktaskDao" >
  <resultMap id="BaseResultMap" type="com.qy.sp.manage.dto.TSdktask" >
    <id column="TASK_ID" property="taskId" jdbcType="VARCHAR" />
    <result column="TASK_NAME" property="taskName" jdbcType="VARCHAR" />
    <result column="TASK_VERSION" property="taskVersion" jdbcType="VARCHAR" />
    <result column="TASK_DESC" property="taskDesc" jdbcType="VARCHAR" />
    <result column="TASK_PLUGIN" property="taskPlugin" jdbcType="VARCHAR" />
    <result column="TASK_STATUS" property="taskStatus" jdbcType="INTEGER" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="MOD_TIME" property="modTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    TASK_ID, TASK_NAME, TASK_VERSION, TASK_DESC, TASK_PLUGIN, TASK_STATUS, CREATE_TIME, 
    MOD_TIME
  </sql>
  
  <select id="getSdkTaskList" resultMap="BaseResultMap">
   	SELECT 
	<include refid="Base_Column_List" />
	FROM t_sdktask 
	WHERE 1=1
	<if test="sdkTask.taskName != null and sdkTask.taskName != ''">
       AND TASK_NAME LIKE  "%"#{sdkTask.taskName}"%"
    </if>
    <if test="sdkTask.taskStatus != null and sdkTask.taskStatus != ''">
       AND TASK_STATUS = #{taskStatus}
    </if>
	LIMIT #{start},#{end}
  </select>
  <select id="getSdkTaskItems" parameterType="com.qy.sp.manage.dto.TSdktask" resultType="java.lang.Integer">
   	SELECT 
	COUNT(*)
	FROM t_sdktask 
	WHERE 1=1
	<if test="taskName != null and taskName != ''">
       AND TASK_NAME LIKE  "%"#{taskName}"%"
    </if>
    <if test="taskStatus != null and taskStatus != ''">
       AND TASK_STATUS = #{taskStatus}
    </if>
  </select>
  
  <select id="selectByTaskName" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_sdktask
    where TASK_NAME = #{taskName,jdbcType=VARCHAR}
  </select>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_sdktask
    where TASK_ID = #{taskId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_sdktask
    where TASK_ID = #{taskId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.qy.sp.manage.dto.TSdktask" >
    insert into t_sdktask (TASK_ID, TASK_NAME, TASK_VERSION, 
      TASK_DESC, TASK_PLUGIN, TASK_STATUS, 
      CREATE_TIME, MOD_TIME)
    values (#{taskId,jdbcType=VARCHAR}, #{taskName,jdbcType=VARCHAR}, #{taskVersion,jdbcType=VARCHAR}, 
      #{taskDesc,jdbcType=VARCHAR}, #{taskPlugin,jdbcType=VARCHAR}, #{taskStatus,jdbcType=INTEGER}, 
      CURRENT_TIMESTAMP, CURRENT_TIMESTAMP)
  </insert>
  <insert id="insertSelective" parameterType="com.qy.sp.manage.dto.TSdktask" >
    insert into t_sdktask
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="taskId != null" >
        TASK_ID,
      </if>
      <if test="taskName != null" >
        TASK_NAME,
      </if>
      <if test="taskVersion != null" >
        TASK_VERSION,
      </if>
      <if test="taskDesc != null" >
        TASK_DESC,
      </if>
      <if test="taskPlugin != null" >
        TASK_PLUGIN,
      </if>
      <if test="taskStatus != null" >
        TASK_STATUS,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="modTime != null" >
        MOD_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="taskId != null" >
        #{taskId,jdbcType=VARCHAR},
      </if>
      <if test="taskName != null" >
        #{taskName,jdbcType=VARCHAR},
      </if>
      <if test="taskVersion != null" >
        #{taskVersion,jdbcType=VARCHAR},
      </if>
      <if test="taskDesc != null" >
        #{taskDesc,jdbcType=VARCHAR},
      </if>
      <if test="taskPlugin != null" >
        #{taskPlugin,jdbcType=VARCHAR},
      </if>
      <if test="taskStatus != null" >
        #{taskStatus,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modTime != null" >
        #{modTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.qy.sp.manage.dto.TSdktask" >
    update t_sdktask
    <set >
      <if test="taskName != null" >
        TASK_NAME = #{taskName,jdbcType=VARCHAR},
      </if>
      <if test="taskVersion != null" >
        TASK_VERSION = #{taskVersion,jdbcType=VARCHAR},
      </if>
      <if test="taskDesc != null" >
        TASK_DESC = #{taskDesc,jdbcType=VARCHAR},
      </if>
      <if test="taskPlugin != null" >
        TASK_PLUGIN = #{taskPlugin,jdbcType=VARCHAR},
      </if>
      <if test="taskStatus != null" >
        TASK_STATUS = #{taskStatus,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modTime != null" >
        MOD_TIME = CURRENT_TIMESTAMP,
      </if>
    </set>
    where TASK_ID = #{taskId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qy.sp.manage.dto.TSdktask" >
    update t_sdktask
    set TASK_NAME = #{taskName,jdbcType=VARCHAR},
      TASK_VERSION = #{taskVersion,jdbcType=VARCHAR},
      TASK_DESC = #{taskDesc,jdbcType=VARCHAR},
      TASK_PLUGIN = #{taskPlugin,jdbcType=VARCHAR},
      TASK_STATUS = #{taskStatus,jdbcType=INTEGER},
      MOD_TIME = CURRENT_TIMESTAMP
    where TASK_ID = #{taskId,jdbcType=VARCHAR}
  </update>
</mapper>