#pager {
	margin:0 auto;
	margin-left: 35%;
	color: #444;
}

#result {
	font-size: 24px;
	font-family: 'Arial';
	color: #333;
	margin: 0;
	font-weight: normal;
}

#pager ul.pages {
	padding-top: 20px;
	height: 40px;
}

#pager ul.pages li {
	float: left;
	border: 1px solid #ddd;
	background: #fff;
	margin: 0 5px 0 0;
	padding: 5px 8px;
	list-style-type: none;
}

#pager ul.pages li:hover {
	color: #379be9;
	border: 1px solid #379be9;
}

#pager ul.pages li.pgEmpty {
	border: 1px solid #eee;
	color: #999;
}

#pager ul.pages li.pgCurrent {
	border: 1px solid #379be9;
	color: #FFF;
	font-weight: 700;
	background-color: #379be9;
}