* {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

a,img {
	border: 0;
}


label {
	cursor: pointer;
}

.democode {
	width: 400px;
	margin: 30px auto 0 auto;
	line-height: 24px;
}

.democode h2 {
	font-size: 14px;
	color: #3366cc;
	height: 28px;
}

.agree {
	margin: 40px auto;
	width: 400px;
	font-size: 16px;
	font-weight: 800;
	color: #3366cc;
}

.mainlist {
	padding: 10px;
}

.mainlist li {
	height: 28px;
	line-height: 28px;
	font-size: 12px;
}

.mainlist li span {
	margin: 0 5px 0 0;
	font-size: 12px;
	font-weight: 400;
	color: #ddd;
}

.btnbox {
	text-align: center;
	height: 30px;
	padding-top: 10px;
	background: #ECF9FF;
}

#windownbg {
	display: none;
	position: absolute;
	width: 100%;
	height: 100%;
	background: #000;
	top: 0;
	left: 0;
}

#windown-box {
	position: fixed;
	_position: absolute;
	background: #FFF;
	text-align: left;
}

#windown-title {
	position: relative;
	height: 40px;
	line-height:35px;
	vertical-align:middle;
	color:#888;
	border-bottom: 1px solid #c9c9c9;
	overflow: hidden;
}

#windown-title h2 {
	position: relative;
	left: 10px;
	top: 5px;
	font-size: 14px;
	color: #666;
}

#windown-close {
	position: absolute;
	right: 10px;
	top: 15px;
	width: 10px;
	height: 16px;
	text-indent: -10em;
	overflow: hidden;
	background: url(../images/tipbg.png) 100% -49px no-repeat;
	cursor: pointer;
}

#windown-close:hover{
	background: url(../images/tipbg.png) -21px -49px no-repeat;
	cursor: pointer;
}

#windown-content-border {
	position: relative;
	padding: 5px 0 5px 5px;
}

#windown-content img,#windown-content iframe {
	display: block;
}

#windown-content .loading {
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -8px;
	margin-top: -8px;
}

.egisBut {
	background-color: #a6c9e1;
	border: 0;
	color: white;
	cursor: pointer;
	height: 28px;
	width: 40px;
}